<div class="center-column">
    <h1>Logs for <%= @zipcode.zipcode  %></h1>

    <img class="map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= "#{@zipcode.zipcode}" %>&zoom=13&size=600x200&key=AIzaSyCOJ6MUrEJW9IqYy_UXTM2Np5dMTl4wwwE"/>

    <table class="table-class">
        <thead>
            <tr>
                <th>Date Reported</th>
                <th>Amount Reported (in)</th>
            </tr>
        </thead>

        <tbody>
            <% @zipcode.snow_logs.each do |log| %>
                <tr>
                    <td><%= log.created_at.to_date %></td>
                    <td><%= log.inches %></td>
                </tr>
            <% end %>

            <tr>
                <td><%= link_to "Add Log", new_zipcode_snow_log_path(zipcode_id: @zipcode.id), class: "button" %></td>
            </tr>
        </tbody>
    </table>
</div>