<!DOCTYPE html>
<html>
<head>
  <title>Snow Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="/">Snow Calculator</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
          <form action="/search_handler" method="GET" class="search-form">
          <div class="form-group">
            <ul class="hypers">
              <li><input type="search" name="query" placeholder="Zipcode Search" /></li>
              <li><input class="button" type="submit" value="Search" /></li>
            </ul>
          </div>
        </form>
      </ul>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
